In [75]:
import requests
import pandas as pd
import pyodbc

ImportError: No module named 'pyodbc'

In [42]:
apiURL = "https://fortnite-public-api.theapinetwork.com/prod09/users/public/br_stats_v2?user_id=4735ce9132924caf8a5b17789b40f79c"

In [43]:
resp = requests.get(apiURL)

In [54]:
raw = resp.json()

In [62]:
fields = ['kills', 'matchesplayed', 'placetop1','playersoutlived','score']

In [67]:
df = pd.DataFrame(raw['overallData']['defaultModes']).drop('includedPlaylists', axis = 1).drop_duplicates()

In [70]:
df['timestamp'] = pd.to_datetime('today')

In [71]:
df.head()

,kills,matchesplayed,placetop1,playersoutlived,score,timestamp
0,101656,15173,5377,108701,668684,2019-05-07 12:35:37.715088

In [72]:
import os

In [78]:
os.environ['DB_PWD']

'blogPWD123!'

In [ ]:
import pandas as pd
import pyodbc

sql_conn = pyodbc.connect('DRIVER='+os.environ['DB_DRIVER']+';SERVER=localhost'+';DATABASE='os.environ['DB_NAME']\
                          + ';UID='+ os.environ['DB_USER'] + ';PWD' + os.environ['DB_PWD'])

In [ ]:
df.to_sql('fortnite_record', sql_con, schema=None, if_exists='append', index=False)